<!--<h1><%= message %></h1>-->
<!--<h2><%= error.status %></h2>-->
<!--<pre><%= error.stack %></pre>-->

<!DOCTYPE html>
<html>
    <%- include("head") %>
    <body>
        <div id="wrapper" style="text-align: center; padding-top: 200px;">
            <div class="nav_bar">
                <div id="title"><h1>AMK Chat</h1></div>
            </div>
            <h1> This page is not available. </h1>
            <p>The link is broken or the room you are looking for no longer exists. </p>
            <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
            <br/>
            <a href="/">
                <button class="btn btn-dark" id="room_no_generator">Go to Main Page</button>
            </a>
        </div>
    </body>
</html>
