<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/chat.css'/>
    <link rel="manifest" href="/manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="AMK">
    <link rel="apple-touch-icon" href="images/icons/AMK-152x152.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <meta name="msapplication-TileImage" content="images/icons/AMK-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/canvas.js"></script>
    <script src="/scripts/swapImages.js"></script>
    <script src="/scripts/WebRTC.js"></script>
    <script src="/scripts/idb/wrap-idb-value.js"></script>
    <script src="/scripts/idb/index.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/knowledgeGraph.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <!-- below order matters -->
    <script src="/scripts/jquery-3.6.0.min.js"></script>
    <script src="/scripts/bootstrap.min.js" ></script>
</head>