<div class="form-group">
    <label for="image_url_value"> Add your image </label>
    <div id='image-form'>
        <button id="enter_url" class="btn btn-dark mb-2" style='display: inline-block; margin: 0;' onclick="showImageUrlInput()">URL</button>
        <label class = "image-file-label btn btn-dark" style="margin: 0; margin-bottom: .5rem!important;">
            File <input type="file" accept="image/*" id="file_input" capture="environment" style='margin: 0; display: none;'>
        </label>
        <button id="take_picture" class="btn btn-dark mb-2" style='margin: 0; display: inline-block;'>Take Picture</button>
        <button id="capture" class="btn btn-dark mb-2" style='margin: 0; display: none;'>Capture</button>
        <button id="choose_picture" class="btn btn-dark mb-2" onclick="chooseImages()" style='margin: 0; display: inline-block; ' data-toggle="modal" data-target="#exampleModal">Select from database</button>
        <div id="image_url_group" style="display: none;">
            <input type="text" class="form-control" id="image_url" name="image_url">
            <span class="input-group-text addon-wrapping p-0">
                <button class="btn btn-dark p-1" id="submit_image_url" onclick="submitUrl()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </button>
        </div>
        <video id="player" style='display: none;'></video>
        <canvas id="preview_canvas" width=320 height=240 style='display: none;'></canvas>
    </div>
    <input type="text" url="" class="form-control" id="image_base_64" name="image_base_64" style='display: none;'>
</div>
<div class="form-group">
    <label for="img_title">Title of your image*</label>
    <input name="img_title" type="text" class="form-control" id="img_title" aria-describedby="nameHelp" placeholder="">
</div>
<div class="form-group">
    <label for="description">What does your image show?*</label>
    <input name="description" type="text" class="form-control" id="description" aria-describedby="nameHelp" placeholder="">
</div>
<div id="valid_form_image_name" style="display: none;">
    <small disabled class="form-text text-muted">The image name cannot contain: <">\/*?:|.</small>
</div>
<div id="existing_room" style="display: none;">
    <small disabled class="form-text text-muted">This room already exists, please use different name. </small>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select image by title:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="database_images">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select_img">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit_image" class="btn btn-primary" onclick="showImage()" data-dismiss="modal"  >Choose photo</button>
            </div>
        </div>
    </div>
</div>