<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <!-- Added Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="manifest" href="/manifest.json">
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="AMK">
        <link rel="apple-touch-icon" href="images/icons/AMK-152x152.png">
        <meta name="msapplication-TileImage" content="images/icons/AMK-144x144.png">
        <meta name="msapplication-TileColor" content="#2F3BA2">

        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/canvas.js"></script>
        <script src="/javascripts/WebRTC.js"></script>
        <script src="/javascripts/database.js" type="module"></script>

    </head>
    <body onload="init()">
        <div id="wrapper">
            <div id="initial_form" style="display: block">
                <h1><%= title %></h1>
                <p>Please insert the id of the room you want to join, if you do not have a room id, click Generate Room</p>
                <form name="initial_form" onsubmit="return false;" onchange="validateForm()">
                    <div class="form-group">
                        <label for="name">Your name*</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="" required="true">
                        <small id="name_help" class="form-text text-muted">We'll never share your name with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="roomNo">Your room*</label>
                        <div class="input-group flex-nowrap">
                            <input name="roomNo" type="text" class="form-control" id="room_no" placeholder="Enter the name of your room" required="true">
                            <span class="input-group-text" id="addon_wrapping">
                                <button class="btn btn-dark" id="room_no_generator" onclick="generateRoom()">Generate Room</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image_url"> Image </label>
                        <div id='image-form'>
                            <button id="enter-url" class="btn btn-dark mb-2" style='display: inline-block;' onclick="showImageUrlInput()">Enter URL</button>
                            <label class = "image-file-label btn btn-dark">
                                Browse <input type="file" onclick="hideImageUrlInput()"accept="image/*" id="file-input" capture="environment" style='display: none;'>
                            </label>
                            <button id="take-picture" class="btn btn-dark mb-2" style='display: inline-block;'>Take Picture</button>
                            <button id="capture" class="btn btn-dark mb-2" style='display: none;'>Capture</button>
                            <div id="image-url-group" style="display: flex">
                                <input type="text" class="form-control" id="image_url" name="image-url" style='display: none;' >
                                <span class="input-group-text addon-wrapping">
                                    <button class="btn btn-dark p-1" id="submit-image-url" style='display: none;' onclick="submitUrl()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                            <video id="player" style='display: none;'></video>
                            <canvas id="preview-canvas" width=320 height=240 style='display: none;'></canvas>
                        </div>
                    </div>
                    <input id="connect_btn" disabled type="submit" class="btn btn-dark" onclick="connectToRoom()" class="btn btn-primary" value="Connect"/>
                    <div id="valid_form_help">
                        <small disabled class="form-text text-muted">You must provide the room id and your name.</small>
                    </div>
                </form>
            </div>
            <div id="chat_interface" style="display: none">
                <div>
                    <p>
                        <div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
                    </p>
                </div>
                <p>
                <div style="width: 100%; max-height: 10vh">
                    <img id="image" height="100%" >
                    <canvas  id="canvas" ></canvas>
                </div>
                </p>
                <br/>
                <div style="min-height: 35vh" class="boxed" >
                    <div id="history" class="container">
                    </div>
                </div>
                <div id="input_wrapper">
                    <div id="input" class=" boxed">
                        <form id="chat_form" onsubmit="return false;" style="width: 100%">
                            <div class="input-group mb-3">
                                <input onkeypress="pressed(event)" type="text" class="form-control" placeholder="" id="chat_input" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <input class="btn btn-outline-secondary" type="submit" id="chat_send" onclick="sendChatText()" onkeypress="pressed(event)" value="Send"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
