<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <!-- Added Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="manifest" href="/manifest.json">
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="AMK">
        <link rel="apple-touch-icon" href="images/icons/AMK-152x152.png">
        <meta name="msapplication-TileImage" content="images/icons/AMK-144x144.png">
        <meta name="msapplication-TileColor" content="#2F3BA2">

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/canvas.js"></script>
        <script src="/javascripts/database.js" type="module"></script>

    </head>
    <body onload="init()">
        <div id="wrapper">
            <div id="initial_form" style="display: block">
                <h1><%= title %></h1>
                <p>Please insert the id of the room you want to join, if you do not have a room id, click Generate Room</p>
                    <form name="initial_form" onchange="validateForm()" onsubmit="return false">
                        <div class="form-group">
                            <label for="name">Your name*</label>
                            <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="" required="true">
                            <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="roomNo">Your room*</label>
                            <div class="input-group flex-nowrap">
                                <input name="roomNo" type="text" class="form-control" id="roomNo" placeholder="Enter the name of your room" required="true">
                                <span class="input-group-text" id="addon-wrapping">
                                    <button class="btn btn-dark" id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image_url"> Image (URL) </label>
                            <input type="text" class="form-control" id="image_url" name="image_url">
                        </div>
                        <input id="connect_btn" disabled type="submit" type="connect" class="btn btn-dark" onclick="connectToRoom()" class="btn btn-primary" value="Connect"/>
                        <div id="validFormHelp">
                            <small disabled class="form-text text-muted">You must provide the room id and your name.</small>
                        </div>
                    </form>
                </div>
            <div id="chat_interface" style="display: none">
                <div>
                    <p>
                        <div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
                </div>
                </p>
                <div style="width: 100%; height: 50vh">
                    <img id="image" height="100%" >
                    <canvas  id="canvas" ></canvas>
                </div>
                <div id="history" style="height: 35vh" class="boxed" ></div>
                <div id="input" style="hefight: 5vh" class=" boxed">
                    <form onsubmit="return false;" style="width: 100%">
                        <p>
                            <label for="name"> chat: </label>
                            <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                            <button id="chat_send" onclick="sendChatText()">Send</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
