
<div id="initial_form" style="display: block">
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
    <div class="alert alert-info fixed-top m-2 shadow d-none" role="alert" id="offline_div" style="display: none">You are offline</div>
    <p>Please insert the room id. If you do not have a room id, click Generate Room</p>
    <form name="initial_form" onsubmit="return false;" onchange="validateForm()">
        <div class="form-group">
            <label for="name">Your name*</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkAnonymous">
                <label class="form-check-label" for="checkAnonymous">
                    Anonymous
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="room_no">Your room*</label>
            <div class="input-group flex-nowrap">
                <input name="room_no" type="text" class="form-control" id="room_no" placeholder="Enter the name of your room">
                <button class="btn btn-dark" id="room_no_generator" onclick="generateRoom()">Generate Room</button>
            </div>
        </div>
        <%- include("imageForm") %>
        <div class="form-group">
            <label for="img_title">Title of your image*</label>
            <input name="img_title" type="text" class="form-control" id="img_title" aria-describedby="nameHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="description">What does your image show?*</label>
            <input name="description" type="text" class="form-control" id="description" aria-describedby="nameHelp" placeholder="">
        </div>
        <input id="connect_btn" disabled type="submit" class="btn btn-dark" onclick="createRoom()" class="btn btn-primary" value="Connect"/>
        <div id="valid_form_help">
            <small disabled class="form-text text-muted">You must fill in all the fields.</small>
        </div>
        <div id="valid_form_image_name">
            <small disabled class="form-text text-muted">The image name cannot contain: <">\/*?:|.</small>
        </div>
    </form>
</div>
