#chat_interface{
    margin-top: 10px;
    margin-bottom: 10px;
}
#chat_send{
    background-color: white;
}
.boxed {
    padding:10px;
    box-sizing: border-box;
}
#chat_interface{
    margin-top: 50px;
    padding-bottom: 1px;
}
#history{
    max-height: 45vh;
    overflow-y: scroll;
    min-height:20vh;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
}
#drawing_board{
    margin:0 auto;
}

#input_wrapper{
    width: 80%;
    position: fixed;
    bottom: 0;
}

#input{
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 100%;
    max-width: 1350px;
    z-index: 100;
    max-height: 10vh;
}
#chat_form{
    position: fixed;
    bottom: 0;
}
#swap-image{
    padding-bottom: 3%;
    background-color: white;
    padding: 5%;
}

.knowledgeGraphResult{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

#knowledgeGraph {
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    #drawing_board{
        width:100%
    }
}