body {
  margin: 0 auto !important;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  max-width: 1350px;
  min-width: 320px;
}

#wrapper{
    width: 100%;
    background-color: rgb(240,237,202);
    margin: 0 auto;
    padding: 30px;
    min-height: 100vh;
}

a {
  color: #00B7FF;
}

.boxed {
  padding:10px;
  box-sizing: border-box;
}
.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
/*
.scrolling {
    overflow: scroll;
    max-height: 40vh;
}*/
.outsideWrapper{
    width:256px; height:256px;
    margin:20px 60px;
    border:1px solid blue;}
.insideWrapper{
    width:100%; height:100%;
    position:relative;}
.coveredImage{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
}

/*   index.js    */
#addon-wrapping{
    padding:0;
}
#validFormHelp{
    display: none;
}
#input{
    bottom: 0;
    position: fixed;
    min-width: 300px;
    min-height: 5vw;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    max-width: 1250px;
}
#input_wrapper{
    height: 120px;
    width: 100%;
}
.form{
    max-width: 1200px !important;
    margin: 0 auto !important;
    display: block;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
.time_left{
    float:left;
}
#history{
    min-height: 35vh;
    max-height: 50vh;
    overflow-y: scroll;
    min-height:20vh;
}